.portfolio {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: $white-color;

  @media (min-width: 768px) {
    align-items: center;
  }

  @media (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__poster {
    width: 100%;
  }
  &__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
  }
  &__image {
    width: 100%;
    height: 294px;
    position: relative;
    overflow: hidden;
    }
  &__imageoverflow {
    display: inline-block;
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 450px;
    height: 294px;

    @media (min-width: 768px) {
      width: 354px;
    }
  
    @media (min-width: 1200px) {
      width: 370px;;
    }

    background: rgba(33, 150, 243, 0.9);
    transform: translateY(294px);
    padding: 63px 24px;
    font-size: 18px;
    line-height: 28px;
    color: $white-color;
    @include transition(transform);
  }
  &__box {
    display: block;
    padding: 20px 24px;
    background: #ffffff;
    border: 1px solid #eeeeee;
    border-top: none;
  
  }
  &__title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $dark-color-text;
  }
  &__descr {
    display: block;
    font-size: 16px;
    line-height: 1.188;
    color: $mainColorText;
  }
  &__wrapper {
    // width: 450px;
    height: 404px;
    box-shadow: none;
    
    @include transition(box-shadow);
    &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    @media (min-width: 768px) and (max-width: 1199px) {
      width: 354px;
      // height: 404px;
      &:nth-child(-n + 2) {
        height: 440px;
      }
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media (min-width: 1200px) {
      // width: 370px;
      margin-bottom: 30px;
      &:nth-child(n + 7) {
        margin-bottom: 0;
      }
    }
  }
  /* Задає характеристики кнопок портфоліо*/
  &__buttonwrapper {
    max-width: 326px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-bottom: 50px;

    @media (min-width: 768px) {
      flex-wrap: nowrap;
      min-width: 575px;
      justify-content: space-between;
    }
  }
  &__button {
    display: inline-block;
    padding: 6px 22px;
    background: #f5f4fa;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    color: $dark-color-text;
    background-color: $light-grey-color;
    font-family: inherit;
    border: none;
    cursor: pointer;
    text-align: center;
    @include transition(background-color);
    @include transition(color);
    @include transition(box-shadow);

    &--primary {
      background-color: $accent-color;
      color: $white-color;
    }
    &:hover,
    &:focus {
      background-color: $accent-color;
      color: $white-color;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
      outline: none;
    }
  }
  &__link:focus .portfolio__imageoverflow {
    transform: translateY(0);
  }
  &__link:hover .portfolio__imageoverflow {
    transform: translateY(0);
  }
  &__sortbutton {
    @media (max-width: 760px) {
      :nth-child(1) {
        margin-right: 8px;
        margin-bottom: 15px;
      }
      :nth-child(2) {
        margin-right: 8px;
      }
      :nth-child(4) {
        margin-right: 8px;
      }
    }
  }
  @media (min-width: 768px) and (max-width: 1199px) {
  &__wrapper:first-child &__box{
    padding-bottom: 60px;
  }
}
}


