.logo {
  display: inline-block;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  
  color: $accent-color;
  @include transition(color);
  @include transition(fill);
  // margin-bottom: 20px;
  margin-right: 88px;
  @media  (min-width:1200px) {
    margin-right: 92px;
  }
  &--light {
    color: $white-color;
    @include transition(color);
    @include transition(fill);
  }
  &--dark {
    color: $black-color;
    @include transition(color);
    @include transition(fill);
  }
  &:hover .logo--light,
  &:focus .logo--light,
  &:hover .logo--dark,
  &:focus .logo--dark {
    color: $accent-color;
    fill: $accent-color;
  }
  &:focus {
    outline: none;
  }
  @media screen and (min-width:1200px){
    font-weight: 700;
  font-size: 26px;
  line-height: 1.174;
  }
}
