h1,
h2,
h3,
ul,
p {
  margin: 0;
}

ul {
  padding: 0;
}

body {
  color: var(--main-color-text);
  font-family: 'Roboto';
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* Визначає характеристики героя */
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $white-color;
}

section {
  min-width: 100%;
}

img {
  display: block;
}

address {
   font-style: normal;
 }

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}