.container {
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

    @media  (min-width:767px) {
      max-width:768px;
    }

    @media  (min-width:1200px) {
      max-width: 1200px;
    }    
  }
  